@model IPNoticeHub.Web.Models.PdfGeneration.IPdfLetterViewModel
<div class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Sender Name</label>
        <input asp-for="SenderName" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Sender Address</label>
        <input asp-for="SenderAddress" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for="SenderEmail" class="form-label">Sender Email</label>
        <input asp-for="SenderEmail" class="form-control" />
        <span asp-validation-for="SenderEmail" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label class="form-label">Recipient Name</label>
        <input asp-for="RecipientName" class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Recipient Address</label>
        <input asp-for="RecipientAddress" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for="RecipientEmail" class="form-label">Recipient Email</label>
        <input asp-for="RecipientEmail" class="form-control" />
        <span asp-validation-for="RecipientEmail" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label class="form-label">Infringing Url</label>
        <input asp-for="InfringingUrl" class="form-control" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Work Title</label>
        <input asp-for="WorkTitle" class="form-control" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label">Registration Number</label>
        <input asp-for="RegistrationNumber" class="form-control" readonly />
    </div>

    @* Optional Cease & Desist Letters *@
    @if (ViewData["ShowAdditionalFacts"] as bool? == true)
    {
        <div class="col-12">
            <label class="form-label">Additional Facts (optional)</label>
            <textarea asp-for="AdditionalFacts" class="form-control" rows="3"></textarea>
        </div>
    }
</div>
