# .NET
**/bin/
**/obj/
*.user
*.suo
local.settings.json

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Helm
helm/voting-app/charts/*.tgz

# Logs
*.log

# Azure Functions
*.funcignore